/* Work Area
======================================================= */


.work-area
	size: 100%
	width: "calc(100% - %s)" % $sidebarWidth // exact
	position: absolute
	background: #eee
	background: #F5F5F5
	

	.text-muted
		absolute: left 0 top 40%
		width: 100%
		font-weight: 100
		opacity: 0
		pointer-events: none
		transition: opacity .5s
		text-align: center

		h1
			font-size: 30px
			font-weight: 100
			color: #888

		p
			font-size: 15px

		&.show-prompt
			opacity: 1


/**
* SVG styles
*/

@keyframes fade-in {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

svg
	absolute: top 0 left 0
	// animation: fade-in 2s backwards
	// transform: translateZ(0)

text 
	font-size: 11px
	pointer-events: none


	// &.parent 
	// 	fill: #1f77b4

.block
.port
	cursor: pointer


.hide-link
	stroke: none !important

.block 
	// Default node is baby blue
	fill: #63BBF5
	// fill-opacity: 0.9
	stroke: #3687B4
	stroke-width: 2px
	pointer-events: all
	font: 10px sans-serif;

	&:hover
		fill-opacity: 1

	

	&.port-select
		// fill: lighten(green, 50%)
		// stroke: green
		fill: #6BEE75
		stroke: rgba(0, 128, 0, 0.39);
		cursor: crosshair

	// Default selecte
	&.selected
		stroke: #3E9BCE;
		fill: #AEE8FF;

#arrowhead
	fill: grey

// Walls are orange
[data-tags~="tag-wall"]
	// fill: #DFD3BD
	fill: #FFC356
	stroke: #FF8F00

	&.selected
		fill: #FFDEA1;
		stroke: #FFAA3D;


.is-dragging-link *
	cursor: crosshair


.link 
	fill: none;
	stroke: #ccc;
	stroke-width: 3px	
	

	&.is-dragging
		stroke: rgba(0, 128, 0, 0.39);
		pointer-events: none

.link-selected
	// stroke: #ff7f0e;
	stroke: rgba(0, 128, 0, 0.39);



.disable-pointer-events .block
	pointer-events: none

.node-label
	fill: rgba(0, 0, 0, 0.4);
	stroke: none !important;
	font-weight: bold;

.port
	fill: #666
	fill-opacity: 0.0
	

	
	// When a node is hovered over
	&.node-hover
		fill-opacity: 0.8
	
	// When a port is hovered or selected (like during a drag)
	&.hover
	&.show
		fill-opacity: 1




	// Colours



	&.linked
		fill: #666

	&.hover
		fill: #6BEE75
		stroke: rgba(0, 128, 0, 0.39);
		stroke-width: 2px;
		cursor: crosshair

	&.highlight
		fill: red 

	&.source-connection
		fill: #6BEE75
		stroke: rgba(0, 128, 0, 0.39);
		stroke-width: 2px;

.is-dragging-new-node
	& *
		cursor: copy !important


	// &.valid-connection
	// 	fill: green !important

svg
	user-select: none

.disable-pointer-events
	pointer-events: none

.spawn-block
	fill: red !important

.port-label
	pointer-events: none
	fill: #fff
	fill-opacity: 0.0

	// stroke: #222
	// stroke-width: 1px
	

	
	// When a node is hovered over
	&.node-hover
		fill-opacity: 0.8

	// When a port is hovered or selected (like during a drag)
	&.hover
	&.show
		fill-opacity: 1
		fill: #299614;
		font-weight: bold
		cursor: crosshair


	&.hover
		
		fill: #299614;
		font-weight: bold
		cursor: crosshair

	

.line_hidden
	stroke: #999;
	stroke-width: 0;
	pointer-events: none;



	

// .parent 
// 	fill: #eee
// 	// fill-opacity: .1
// 	stroke: steelblue


// 	&:hover 
// 		stroke: #ff7f0e
// 		stroke-width: .5px


// 	&.child 
// 		pointer-events: none


// 	&.node-map
// 		fill: none !important
// 		stroke: none !important


// .node circle {
//   fill: #fff;
//   stroke: steelblue;
//   stroke-width: 1.5px;
// }

// .node {
//   font: 10px sans-serif;
// }

// .link {
//   fill: none;
//   stroke: #ccc;
//   stroke-width: 1.5px;
// }



